# General OS/System files
.DS_Store
Thumbs.db

# Database files
*.db
*.sqlite
*.sqlite3
test.db
backend/app/test.db

# Environment files
.env
backend/.env
frontend/.env

# Logs
logs
*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

venv/
.venv/

*.pyc
*.pyo
__pycache__/
*.cache
